<div class="pagination clearfix mb1 mt4">
  <div class="left">
    $if(previousPage)$
      $if(page)$
        <a class="pagination-item" href="$baseUrl$/">Newer</a>
      $else$
        <a class="pagination-item" href="$baseUrl$/page$previousPage$/">Newer</a>
      $endif$
    $else$
      <span class="pagination-item disabled">Newer</span>
    $endif$
  </div>
  <div class="right">
    $if(nextPage)$
      <a class="pagination-item" href="$baseUrl$/page$nextPage$/">Older</a>
    $else$
      <span class="pagination-item disabled">Older</span>
    $endif$
  </div>
</div>
